/**
 * Styles for only Undergraduate section
 * Last updated by: Ryo Watanabe (RW)
 * UG color palette: http://paletton.com/#uid=40M0u0kw0w0jvDaoOy4y4oODajv
 */



/***
 * Custom base styles
 ***/

/**************************************************************************
 * Global Navigation
 **************************************************************************/
/* UG */
.ug-home #globalnavi .mainlinks a,
.sec-ug #globalnavi .mainlinks a { background: #ff9900; }

.ug-home #globalnavi a:hover,
.sec-ug #globalnavi a:hover {
	background: #ff6600;
	color: #fff;
}

.ug-home #globalnavi .mainlinks .ug-top a,
.sec-ug #globalnavi .mainlinks .ug-top a {
	border-radius: 6px 0 0 0;
}

.ug-home #globalnavi .mainlinks .ug-top a {
background: #ff6600;
}

/* on state for UG */
.sec-ug-about #globalnavi .ug-about a,
.sec-ug-majors #globalnavi .ug-majors a,
.sec-ug-admissions #globalnavi .ug-admissions a,
.sec-ug-cost #globalnavi .ug-cost a,
.sec-ug-visa #globalnavi .ug-visa a,
.sec-ug-academics #globalnavi .ug-academics a,
.sec-ug-student-services #globalnavi .ug-student-services a {
	background: #ff6600;
}


/**************************************************************************
 * Global Header - includes Toolbar, Section Head and Action Navigation
 **************************************************************************/
/***
 * Section Head and Action Navigation
 ***/
#logo {
	float: left;
	margin: 8px 0 0;
}

#sechead .tuj-logo {
	display: block;
	overflow: hidden;
	text-indent: -999px;
	background-position: 0 -65px;
	width: 221px;
	height: 40px;
	margin: 0 0 12px 12px;
	float: none;
}

#sechead .pn-ug {
	display: block;
  background: url(/ug/img/sprite-ug.png) no-repeat;
	padding: 0;
	overflow: hidden;
	text-indent: -999px;
	width: 173px;
	height: 16px;
	margin: 0 0 13px 54px;
}
.ja #sechead .pn-ug {
	background-position: 0 -32px;
	height: 14px;
	width: 83px;
	margin: 0 0 15px 54px;
}

#sechead .pn-ug:hover {
	background-position: 0 -16px;
}
.ja #sechead .pn-ug:hover {
	background-position: 0 -46px;
}

#actionnavi {
	margin: 8px 10px 12px;
}


/**************************************************************************
 * Global Footer
 **************************************************************************/

.footer-links {
	padding-top: 30px;
}


/**************************************************************************
 * Custom Common Elements;
 **************************************************************************/
/***
 * Header Styles
 ***/
.sec-ug #main .h-border { color: #063565; }
.sec-ug #main .h-md-dark { color: #094481; }
.sec-ug #main .h-sm-dark { background: #0d58a6; }
.sec-ug #main .h-sm-light { background: #5387BD; color: #fff; }
h1, h2, h3, h4, h5, h6 { color: #063565; }

#main .h-ug-usp {
	font-size: 260%;
	color: #9e1b34;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	
	span {
		font-size: 70%;
	}
}

@media screen and (max-width: 840px){
#main .h-ug-usp {
	font-size: 228.24%;
}
}

@media screen and (max-width: 400px){
#main .h-ug-usp {
	font-size: 182%;
}
}

/***
 * Table Styles
 ***/
.zebra tbody tr:nth-child(even) td { background: #faf8ef url(/img/noise.png) repeat 0 0 !important; }

.zebra tbody tr:nth-child(odd) th { background: #fffefb url(/img/noise.png) repeat 0 0 !important; }
.zebra tbody tr:nth-child(even) th { background: #faf8ef url(/img/noise.png) repeat 0 0 !important; }

.cell-title {
	text-align: left;
	font-weight: bold;
	line-height: 123.1%;
}

.cell-desc {
	vertical-align: top;
	line-height: 123.1%;
}

#main .cell-desc h2 {
	font-size: 108%;
	font-family: Arial, Helvetica, sans-serif;
}
#main .cell-desc p {
	margin-bottom: 10px;
}

/* for Calendar */
.calendar .cell-title { width: 34%; }
.calendar .cell-desc { width: 66%; }

/* for Final Exam table */
.fe-class { width: 50%; }
.fe-date { width: 50%; }

@media screen and (max-width: 480px){
.cell-title,
th.cell-desc {
	font-size: 85%;
}

#main .cell-desc h2 {
	font-size: 85%;
}

#main .cell-desc p,
#main .cell-desc ul {
	font-size: 85%;
	line-height: 138.5%;
}

#main .final-exam th,
#main .final-exam td {
	font-size: 85%;
}

/* for Final Exam table */
.fe-class { width: 56%; }
.fe-date { width: 44%; }
}

/**************************************************************************
 * Section Specific Styles
 **************************************************************************/

/* block element in Why TUJ */
#main .psec-usp {
	width: auto;
	overflow: hidden;
	margin: 20px 0;
}

#main .button-apply {
	display: block;
	background: #9e1b34;
	border-radius: 8px;
	font-size: 138.5%;
	color: #fff !important;
	width: auto;
	padding: 18px;
	text-align: center;
}

/***
 * Majors Section
 ***/
 
/* Header */ 
.h-major {
	font-size: 230%;
	margin: 6px 0 20px;
}

/* Intro paragraph */ 
#main .intro-major {
	font-size: 123.1%;
	padding-bottom: 30px;
	border-bottom: 1px solid #bcb59f;
}

/* Header with photo on the left */
.profile-name-with-photo {
	margin-top: 20px;
}

/* Profile circle photo style */ 
.circle-profile {
	border-radius: 150px;
}

/* Action box */
.box-action {
	background: #fff;
	padding: 16px;
	border-radius: 4px;
	border: 1px solid #cdc5ad;
	margin-bottom: 30px;
}

#main .box-action p {
  margin-bottom: 10px;
}

#main .button {
	display: block;
	background: #00aa72;
	border-radius: 30px;
	font-size: 138.5%;
	color: #fff !important;
	width: auto;
	padding: 18px;
	text-align: center;
}
#main .button:hover {
	background: #207f60;
  text-decoration: none;
}

/* Student voice, faculty profile box */
.box-student-voice, .box-faculty-profile {
	background: #fff;
	padding: 20px;
	border: 1px solid #f5f0df;
}

#main .box-student-voice .h-sm-light {
	background: #574dd8;
	color: #fff;
}

#main .box-faculty-profile .h-sm-light {
	background: #100873;
	color: #fff;
}

/* Post-it style link */
#main .link-large-postit {
	margin: 0 0 20px;
	list-style: none;
}
#main .link-large-postit li {
	margin: 0 0 10px;
	background: #fff;
	border: 1px solid #f5f0df;
}
.link-large-postit a {
	display: block;
	padding: 20px 10px 20px 80px;
	font-size: 123.1%;
	background: url(/ug/majors/img/bg-postit-orange.png) no-repeat center left;
}

/* Adjustment for two col list at the bottom */
#main .major-list .link-large-red {
	margin-bottom: 0;
}

@media screen and (max-width: 870px){
.box-action {
	padding: 10px;
	width: auto;
	overflow: hidden;
}
#main .button {
	padding: 14px;
	font-size: 123.1%;
}
}

@media screen and (max-width: 800px){
.link-large-postit a {
	display: block;
	padding: 16px 6px 16px 72px;
	font-size: 108%;
}
}

@media screen and (max-width: 700px){
#main .intro-major {
	border-bottom: none;
	padding-bottom: 0;
}

.box-action {
	border: none;
	border-radius: 0;
	border-top: 1px solid #cdc5ad;
	border-bottom: 1px solid #cdc5ad;
}

#main .box-action p {
	width: 50%;
	float: right;
	margin-bottom: 0;
}

#main .box-action .link-large-red {
	float: left;
	width: 45%;
}

.box-student-voice, .box-faculty-profile {
	padding: 10px;
}

#main .major-list .ml-col2 {
	margin-bottom: 30px;
}
}

@media screen and (max-width: 550px){
#main .profile-title {
	font-size: 100%;
}
}

@media screen and (max-width: 500px){
.h-major {
	font-size: 197%;
	margin: 0 0 6px;
}

.box-action {
	padding: 20px 10px;
}

.profile-name-with-photo {
	margin-top: 0;
}

#main .box-action p {
	width: auto;
	float: none;
	margin-bottom: 10px;
}
#main .box-action .link-large-red {
	float: none;
	width: auto;
}
}


/**************************************************************************
 * Page Specific Styles
 **************************************************************************/



/**************************************************************************
 * Button
 **************************************************************************/
/* button style */
#main a.btn-green {
	display: block;
	text-align: center;
	font-size: 116%;
	color: #ffffff;
	padding: 8px 4% 10px;
	background: #449429;
	background: -moz-linear-gradient(top, #19a82e 0%, #449429 50%, #10520a);
	background: -webkit-gradient(linear, left top, left bottom, from(#19a82e), color-stop(0.50, #449429), to(#10520a));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #104f10;
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.7), 0px 1px 0px rgba(255,255,255,0.3);
}
#main a.btn-green:hover {
	text-decoration: none;
	background: #25731e;
	background: -moz-linear-gradient(top, #46cc58 0%, #5fb041 50%, #25731e);
	background: -webkit-gradient(linear, left top, left bottom, from(#46cc58), color-stop(0.50, #5fb041), to(#25731e));
}
.ie6 #main a.btn-green:visited {
  color: #fff;
}
#main a.btn-red {
	display: block;
	text-align: center;
	font-size: 116%;
	color: #ffffff;
	padding: 8px 4% 10px;
	background: #9e1b34;
	background: -moz-linear-gradient(top, #d54661 0%, #67091b);
	background: -webkit-gradient(linear, left top, left bottom, from(#d54661), to(#67091b));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #67091b;
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.7), 0px 1px 0px rgba(255,255,255,0.3);
}
#main a.btn-red:hover {
	background: #c25665;
	text-decoration: none;
	background: -moz-linear-gradient(top, #faafaf 0%, #9e1b34);
	background: -webkit-gradient(linear, left top, left bottom, from(#faafaf), to(#9e1b34));
}

#main a.btn-su {
	width: 45%;
}

.arr-more-no-bg {
	background: url(/ug/img/sprite-ug.png) no-repeat;
	padding: 0 !important;
	width: 8px;
	height: 12px;
	background-position: -2px -71px;
	position: relative;
	left: 5px;
	top: 1px;
	display: inline-block;
	float: none;
}



/**************************************************************************
 * Media queries for responsive design.
 * These follow after primary styles so they will successfully override.
 **************************************************************************/
/**************************************************************************
 * For High Res Display
**************************************************************************/
@media screen and (-webkit-min-device-pixel-ratio: 2), 
screen and (min-device-pixel-ratio: 2) {
#sechead .pn-ug,
.arr-more-no-bg {
	background-image: url(/ug/img/sprite-ug2x.png);
	background-size: 231px 300px;
}
}

/**************************************************************************
 * For smaller displays
**************************************************************************/
@media screen and (max-width: 930px) {
.ug-home #globalnavi a,
.sec-ug #globalnavi a {
	padding: 7px 16px;
}
}

@media screen and (max-width: 880px) {
.ug-home #globalnavi .mainlinks,
.sec-ug #globalnavi .mainlinks {
	width: 100%;
}

.ug-home #globalnavi li,
.sec-ug #globalnavi li {
	width: 24.82%;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	text-align: center;
}

.ug-home #globalnavi .mainlinks .last,
.sec-ug #globalnavi .mainlinks .last {
	border-radius: 0;
}
.ug-home #globalnavi .mainlinks .ug-admissions a,
.sec-ug #globalnavi .mainlinks .ug-admissions a {
	border-radius: 0 6px 0 0;
}
}

@media screen and (max-width: 800px) {
#globalnavi .sec-top {
	display: none;
}

#slideshow { background: #000 url(/jp/cep/img/cep-top01-800.jpg) no-repeat top center; }
#main .link-action .quick-tour { display: none; }
#main .link-action li { width: 33.3333%; }
#main .link-action li a { font-size: 116%; }

#main .link-onecol-800 .link-twocol li {
	width: 88%;
	float: none;
}
#main a.btn-su { width: 66%; }

/* for maps page */
#main .box-twocol-800 {
	overflow: hidden;
}
#main .box-twocol-800 div {
	width: 49%;
	float: left;
	margin-left: 2%;
}
#main .box-twocol-800 figure {
	margin-bottom: 0;
}
#main div.box-twocol-first {
	margin-left: 0;
}
}
@media screen and (max-width: 700px) {
#main .link-action li a { font-size: 108%; }

/* for laying out images side by side on mobile view */
.mobile-left-50 {
	width: 50%;
	float: left;
}
.mobile-right-50 {
	width: 50%;
	float: right;
}

.mobile-pad-right-5 {
	padding-right: 1%;
	width: 49%;
}
.mobile-pad-left-5 {
	padding-left: 1%;
	width: 49%;
}

}
@media screen and (max-width: 680px) {
.ug-home #globalnavi a,
.sec-ug #globalnavi a {
	padding: 7px 3px;
}
}
@media screen and (max-width: 600px) {
.ug-home #globalnavi a,
.sec-ug #globalnavi a {
	font-size: 90%;
}

.ug-home #globalnavi li,
.sec-ug #globalnavi li {
	width: 24.7%;
}

.sec-ug #globalnavi {
	display: none;
}

#slideshow { background: #000 url(/jp/cep/img/cep-top01-600.jpg) no-repeat top center; }

#main .no-collapse .grid-4 {
	float: left;
	margin: 0 0 0 3.2%;
	width: 31.2%;
}
#main .no-collapse .first { margin: 0; }
.expand-full-at-600 {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}
}
@media only screen and (max-width: 593px) {
#logo { margin: 8px 0 0; width: 100%; float: none; }
#actionnavi { display: none; }
}
@media only screen and (max-width: 540px) {
#slideshow { display: none; }
.top-intro { margin-top: 0; }
#main a.btn-su { width: 88%; }
}
@media only screen and (max-width: 520px) {

}
@media screen and (max-width: 480px) {
#sechead .tuj-logo { margin: 0 0 16px 14px; }

/***
 * Global Navigation
 ***/
.ug-home #globalnavi {
	display: block;
	padding: 8px 9px 0 10px;
}
.ug-home #globalnavi li {
	width: 49.6%;
}
.ug-home #globalnavi a {
	font-size: 100%;
}
.ug-home #globalnavi .mainlinks .ug-about a {
	border-radius: 0 6px 0 0;
}
.ug-home #globalnavi .mainlinks .ug-admissions a {
	border-radius: 0;
}


#actionnavi { margin: 0 0 12px; }

#main .box-twocol-800 div {
	float: none;
	width: auto;
	margin-left: 0;
}
#main .box-twocol-800 figure {
	margin-bottom: 30px;
}

#main .link-action li {
	float: none;
	width: auto;
	margin-bottom: 1px;
}
#main .no-collapse .grid-4 {
	float: none;
	margin: 0;
	width: auto;
}
}
@media screen and (max-width: 440px){
.expand-full-at-440 {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}
}
@media only screen and (max-width: 412px) {
/* logo */
#sechead .tuj-logo { margin: 0 0 14px 14px; float: none; }
#sechead .pn-ug { margin: 5px 0 10px 56px; float: none; }
}
@media only screen and (max-width: 412px) {
.aep-home #globalnavi .mainlinks li { width: 49.5%; }
}
@media only screen and (max-width: 360px) {
.ug-home #globalnavi {
	display: block;
	padding: 8px 5px 0 6px;
}
}