/* Grid Structure for Main */
.grid {
	float: left;
	margin: 0 0 0 3.2%;
	overflow: hidden;
}
.first { margin-left: 0; }

.grid-1 { width: 5.4%; }
.grid-2 { width: 14%; }
.grid-3 { width: 22.6%; }
.grid-4 { width: 31.2%; }
.grid-5 { width: 39.8%; }
.grid-6 { width: 48.4%; }
.grid-7 { width: 57%; }
.grid-8 { width: 65.6%; }
.grid-9 { width: 74.2%; }
.grid-10 { width: 82.8%; }
.grid-11 { width: 91.4%; }
.grid-12 { width: 100%; float: none; }

.collapse .grid { margin: 0 !important; }

/* Push and pull setup */
.push-10, .pull-10, .push-9, .pull-9, .push-8, .pull-8, .push-7, .pull-7, .push-6, .pull-6, .push-5, .pull-5, .push-4, .pull-4, .push-3, .pull-3, .push-2, .pull-2 {
	position: relative;
	margin: 0;
}

.push-10 {
	left: 86%;
	right: auto;
}
.pull-10 {
	left: auto;
	right: 82.8%;
}
.push-9 {
	left: 77.4%;
	right: auto;
}
.pull-9 {
	left: auto;
	right: 74.2%;
}
.push-8 {
	left: 68.8%;
	right: auto;
}
.pull-8 {
	left: auto;
	right: 65.6%;
}
.push-7 {
	left: 60.3%;
	right: auto;
}
.pull-7 {
	left: auto;
	right: 57%;
}
.push-6 {
	left: 51.6%;
	right: auto;
}
.pull-6 {
	left: auto;
	right: 48.4%;
}
.push-5 {
	left: 43%;
	right: auto;
}
.pull-5 {
	left: auto;
	right: 39.8%;
}
.push-4 {
	left: 34.4%;
	right: auto;
}
.pull-4 {
	left: auto;
	right: 31.2%;
}
.push-3 {
	left: 25.8%;
	right: auto;
}
.pull-3 {
	left: auto;
	right: 22.6%;
}
.push-2 {
	left: 17.2%;
	right: auto;
}
.pull-2 {
	left: auto;
	right: 14%;
}

.block-divider { border-bottom: 1px solid #bcb59f; margin-bottom: 30px !important; }

/* IE fix -> see ie.css */


/***
 * Media queries
 ***/
@media only screen and (max-width: 800px) {
/* basic grid setup */
.content { width: 100%; min-width: 0; }
.grid-reset { float: none; margin: 0; width: auto; }
}

@media only screen and (max-width: 700px) {
/* Basic grid setup */
.grid { float: none; margin: 0; width: auto; }

/* [Experimental] Mobile grid setup */
.mob-grid {
	float: left !important;
	margin: 0 0 0 3.2% !important;
	overflow: hidden !important;
}
.mob-first { margin: 0 !important; }

.mob-grid-9 { width: 74.2% !important; }
.mob-grid-8 { width: 65.6% !important; }
.mob-grid-6 { width: 48.4% !important; }
.mob-grid-4 { width: 31.2% !important; }
.mob-grid-3 { width: 22.6% !important; }

/* [Experimenal] Push and pull setup */
.push-10, .pull-10, .push-8, .pull-8, .push-7, .pull-7, .push-6, .pull-6, .push-5, .pull-5, .push-4, .pull-4, .push-3, .pull-3, .push-2, .pull-2 {
	left: auto;
	right: auto;
}
}

@media only screen and (max-width: 480px) {
/* Basic grid setup */
.grid { float: none; margin: 0; width: auto; }
.mgrid-reset-480 { float: none !important; margin: 0 !important; width: auto !important; }
}

@media only screen and (max-width: 360px) {
#main .featured .grid-3 {
	float: none;
	margin: 0;
	width: 100%;
}
}
