/**************************************************************************
 * Print Styles
 **************************************************************************/
@media print {
	/* Hide from print view */
	.print-hidden, #tbar, #actionnavi, #globalnavi, .secnavi-hr, .secnavi-vert, .share-content, #bcnavi, #globalfooter ul { display: none; }
	
	/* Adjust for print view */
	#top, #main, #globalfooter { background: none; }
	#globalheader { border: none; }
	.grid { float: none; margin: 0; width: auto; }
	#globalfooter * { color: #000 !important; }
}